@import "tailwindcss";

:root {
  --black: #000000;
  --white: #ffffff;
  --grey-200: #ececec;
  --grey-300: #f6f6f6;
  --grey-500: #626262;
  --grey-800: #252525;
  --blue-100: #e9f6ff;
  --blue-300: #a5d3f1;
  --blue-400: #a3d0ee;
  --blue-500: #007dd0;
  --blue-700: #00548c;
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-500: var(--grey-500);
  --color-grey-800: var(--grey-800);
  --color-blue-100: var(--blue-100);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-700: var(--blue-700);

  --background: var(--white);
  --color: var(--black);

  --font-sans: var(--font-dm-sans);
  --font-poppins: var(--font-poppins);
  --font-urbanist: var(--font-urbanist);
}

@utility container {
  width: 100%;
  margin-inline: auto;

  @variant sm {
    max-width: 40rem;
  }
  @variant md {
    max-width: 41rem;
  }
  @variant lg {
    max-width: 55rem;
  }
  @variant xl {
    max-width: 69rem;
  }
  @variant 2xl {
    max-width: 80rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
